<form clrForm>
  <div class="alert-validation">
    <clr-alert [clrAlertClosable]="false" [clrAlertType]="status.type" (click)="moveToLine()">
      <div clr-alert-item class="alert-item">
        {{status.message}}
      </div>
    </clr-alert>
  </div>

  <div class="clr-row">
    <div class="clr-col">
      <ace-editor [(text)]="currentScript.script" [options]="{maxLines: 'Infinity'}" theme="chrome" mode="python" style="min-height: calc(100vh - 268px);margin-bottom: 10px; width:100%;">
      </ace-editor>
    </div>
    <div class="clr-col" *ngIf="status.showBreakdown">
    </div>
  </div>

  <div>
    <button class="btn btn-success-outline pull-right" (click)="validate()">Validate Script</button>
    <button class="btn btn-primary" (click)="save()">Save Changes</button>
  </div>
</form>
