<form clrForm>
  <div class="clr-row">
    <div class="clr-col">
      <div class="alert-validation">
        <clr-alert [clrAlertClosable]="false" [clrAlertType]="status.type" (click)="moveToLine()">
          <div clr-alert-item class="alert-item">
            {{status.message}}
          </div>
        </clr-alert>
      </div>

      <ace-editor [(text)]="currentScript.script" [options]="editorOptions" theme="chrome" mode="python" style="min-height: calc(100vh - 265px); margin-bottom: 10px; width:100%;">
      </ace-editor>
    </div>
    <div class="clr-col-4">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink>Help</button>
          <clr-tab-content *clrIfActive="true">
            <div class="help-info">
              <clr-vertical-nav>
                <clr-vertical-nav-group *ngFor="let info of visibleHelp">
                  {{info.title}}
                  <clr-vertical-nav-group-children>
                    <div class="help-info-child">
                      <div>
                        {{info.description}}
                      </div>
                      <div *ngIf="info.isServer">
                        <clr-icon shape="host" class="has-alert"></clr-icon>
                        Server-side function
                      </div>
                      <clr-stack-view *ngIf="info.hasArguments">
                        <clr-stack-header>
                          Arguments
                        </clr-stack-header>
                        <clr-stack-block *ngFor="let arg of info.arguments">
                          <clr-stack-label>
                            {{arg.name}}
                            <clr-icon shape="flag" class="is-solid" *ngIf="arg.isRequired"></clr-icon>
                          </clr-stack-label>
                          <clr-stack-content>{{arg.type}}</clr-stack-content>
                        </clr-stack-block>
                      </clr-stack-view>
                      <clr-stack-view *ngIf="info.hasChildren">
                        <clr-stack-header>
                          Children
                        </clr-stack-header>
                        <clr-stack-block *ngFor="let child of info.children">
                          <clr-stack-label>{{child.name == '*' ? 'ANY' : child.name}}</clr-stack-label>
                          <clr-stack-content>{{child.number}}</clr-stack-content>
                        </clr-stack-block>
                      </clr-stack-view>
                      <clr-stack-view *ngIf="info.hasParents">
                        <clr-stack-header>
                          Parents
                        </clr-stack-header>
                        <clr-stack-block *ngFor="let parent of info.parents">
                          <clr-stack-label>{{parent}}</clr-stack-label>
                        </clr-stack-block>
                      </clr-stack-view>
                    </div>
                  </clr-vertical-nav-group-children>
                </clr-vertical-nav-group>
              </clr-vertical-nav>
            </div>
          </clr-tab-content>
        </clr-tab>
        <clr-tab *ngIf="status.showBreakdown">
          <button clrTabLink>
            Validation
            <span class="badge badge-danger" *ngIf="validation.issues && validation.issues.length">
              {{validation.issues.length > 9 ? '9+' : validation.issues.length}}
            </span>
          </button>
          <clr-tab-content *clrIfActive>
            <div *ngIf="validation.issues && validation.issues.length">
              <clr-tree-node *ngFor="let item of validation.issues">
                <button class="clr-treenode-link" (click)="moveToLine(item.lineNum)">
                  <clr-icon shape="exclamation-circle"></clr-icon>
                  {{item.message}}
                </button>
              </clr-tree-node>
            </div>
            <div *ngIf="!(validation.issues && validation.issues.length)">
              <clr-tree-node>
                <button class="clr-treenode-link">
                  <clr-icon shape="check-circle" class="is-success"></clr-icon>
                  No issues found
                </button>
              </clr-tree-node>
            </div>
          </clr-tab-content>
        </clr-tab>
        <clr-tab *ngIf="status.showBreakdown">
          <button clrTabLink>Information</button>
          <clr-tab-content *clrIfActive>
            <div class="breakdown-info">
              <clr-tree-node>
                <clr-icon shape="arrow left"></clr-icon>
                Function Calls
                <ng-template [clrIfExpanded]="true">
                  <clr-tree-node *ngFor="let call of validation.functionCalls">
                    <clr-icon shape="arrow left" class="is-highlight"></clr-icon>
                    {{call.name}}
                    ({{call.items.length}})
                    <ng-template [clrIfExpanded]="false">
                      <clr-tree-node *ngFor="let item of call.items">
                        <button class="clr-treenode-link" (click)="moveToLine(item.lineNum)">
                          Line {{item.lineNum + 1}}, position {{item.linePos + 1}}
                        </button>
                      </clr-tree-node>
                    </ng-template>
                  </clr-tree-node>
                </ng-template>
              </clr-tree-node>
              <clr-tree-node>
                <clr-icon shape="logout" flip="horizontal"></clr-icon>
                Function Definitions
                <ng-template [clrIfExpanded]="true">
                  <clr-tree-node *ngFor="let func of validation.functionDefinitions">
                    <clr-icon shape="logout" flip="horizontal" class="is-highlight"></clr-icon>
                    <button class="clr-treenode-link" (click)="moveToLine(func.lineNum)">
                      {{func.value}}
                    </button>
                  </clr-tree-node>
                </ng-template>
              </clr-tree-node>
              <clr-tree-node>
                <clr-icon shape="filter-grid-circle"></clr-icon>
                References
                <ng-template [clrIfExpanded]="true">
                  <clr-tree-node *ngFor="let call of validation.references">
                    <clr-icon shape="filter-grid-circle" class="is-highlight"></clr-icon>
                    {{call.name}}
                    ({{call.items.length}})
                    <ng-template [clrIfExpanded]="false">
                      <clr-tree-node *ngFor="let item of call.items">
                        <button class="clr-treenode-link" (click)="moveToLine(item.lineNum)">
                          Line {{item.lineNum + 1}}, position {{item.linePos + 1}}
                        </button>
                      </clr-tree-node>
                    </ng-template>
                  </clr-tree-node>
                </ng-template>
              </clr-tree-node>
            </div>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>

  <div>
    <button class="btn btn-primary" (click)="save()">Save Changes</button>
  </div>
</form>
