<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            RoboLang Programming Environment
        </section>
        <div class="login-group">
            <input class="username" type="text" [(ngModel)]="username" name="username" placeholder="Username">
            <input class="password" type="password" [(ngModel)]="password" name="password" placeholder="Password">
            <div class="error active" *ngIf="errorMessage">
                {{errorMessage}}
            </div>
            <button (click)="login()" class="btn btn-primary">NEXT</button>
        </div>
    </form>
</div>