<div class="main-container">
  <app-header view="Robots"></app-header>
  <div class="content-container">
    <div class="content-area">
      <div *ngIf="!currentRobot">
        Please select a robot to view.
      </div>
      <div *ngIf="currentRobot">
        <h1>
          {{currentRobot.display}}
        </h1>
        <form clrForm>
          <clr-input-container>
            <label>Internal Name</label>
            <input clrInput placeholder="name" name="robotName" [(ngModel)]="currentRobot.name" readonly class="wide-input" />
          </clr-input-container>
          <clr-input-container>
            <label>Type</label>
            <input clrInput placeholder="type" name="robotType" [(ngModel)]="currentRobot.robotType" readonly class="wide-input" />
          </clr-input-container>
          <clr-input-container>
            <label>Patient</label>
            <input clrInput placeholder="Robot has not been assigned" name="patient" [(ngModel)]="information.patient" readonly class="wide-input" />
          </clr-input-container>
          <clr-input-container>
            <label>Last Connected</label>
            <input clrInput placeholder="Robot has not connected to Robogen" name="lastAccess" [(ngModel)]="information.lastAccess"
              readonly class="wide-input" />
          </clr-input-container>
          <div *ngIf="currentRobot.address">
            <button class="btn btn-primary" (click)="connect()">
              Connect to Robot
            </button>
          </div>
          <div *ngIf="!currentRobot.address">
            Unable to connect to robot: robot must connect to Robogen first.
          </div>
        </form>
      </div>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <section class="nav-group collapsible">
          <input id="robots" type="checkbox">
          <label for="robots">
            <clr-icon shape="users"></clr-icon>
            Robots
          </label>
          <ul class="nav-list">
            <li *ngFor="let robot of robots">
              <a href="javascript://" [class.active]="currentRobot && (currentRobot.id==robot.id)" class="nav-link"
                (click)="changeRobot(robot)">
                {{robot.name}}
              </a>
            </li>
          </ul>
        </section>
      </section>
    </nav>
  </div>
</div>
