<div class="main-container">
  <app-header view="Robots"></app-header>
  <div class="content-container">
    <div class="content-area">
      <div *ngIf="!currentRobot">
        Please select a robot to view.
      </div>
      <div *ngIf="currentRobot">
        <h1>
          {{currentRobot.display}}
          <span class="badge badge-danger" *ngIf="!connected">Disconnected'</span>
          <span class="badge badge-success" *ngIf="connected">Connected'</span>
        </h1>
        <div *ngIf="connected">
          <app-robot-interface [client]="client"></app-robot-interface>
        </div>
        <div *ngIf="!connected">
          <div *ngIf="currentRobot.address">
            <button class="btn btn-primary" (click)="connect()">
              Connect to Robot
            </button>
            <clr-alert [clrAlertType]="'alert-danger'" [clrAlertClosable]="false" *ngIf="connectionError">
              <div class="alert-item">
                <span class="alert-text">
                  Unable to connect to robot
                </span>
              </div>
            </clr-alert>
          </div>
          <div *ngIf="!currentRobot.address">
            Unable to connect to robot: robot must connect to Robogen first.
          </div>
        </div>
      </div>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <section class="nav-group collapsible">
          <input id="robots" type="checkbox">
          <label for="robots">
            <clr-icon shape="users"></clr-icon>
            Robots
          </label>
          <ul class="nav-list">
            <li *ngFor="let robot of robots">
              <a href="javascript://" [class.active]="currentRobot && (currentRobot.id==robot.id)" class="nav-link"
                (click)="changeRobot(robot)">
                {{robot.name}}
              </a>
            </li>
          </ul>
        </section>
      </section>
    </nav>
  </div>
</div>
