<h1>
  {{currentRobot.display}}
</h1>
<div class="clr-row" *ngIf="!currentScript">
  <div class="clr-col">
    <div class="card">
      <div class="card-block">
        <form clrForm>
          <clr-input-container>
            <label>Internal Name</label>
            <input clrInput placeholder="name" name="robotName" [(ngModel)]="currentRobot.name" readonly class="wide-input" />
          </clr-input-container>
          <clr-input-container>
            <label>Type</label>
            <input clrInput placeholder="type" name="robotType" [(ngModel)]="currentRobot.robotType" readonly class="wide-input" />
          </clr-input-container>
          <clr-input-container>
            <label>Patient</label>
            <input clrInput placeholder="Robot has not been assigned" name="patient" [(ngModel)]="information.patient"
              readonly class="wide-input" />
          </clr-input-container>
          <clr-input-container>
            <label>Last Connected</label>
            <input clrInput placeholder="Robot has not connected to Robogen" name="lastAccess" [(ngModel)]="information.lastAccess"
              readonly class="wide-input" />
          </clr-input-container>
          <clr-input-container>
            <label>Checksum</label>
            <input clrInput placeholder="No scripts to download" name="checksum" [(ngModel)]="currentRobot.checksum"
              readonly class="wide-input" />
          </clr-input-container>
        </form>
      </div>
      <div class="card-block">
        <div *ngIf="currentRobot.address">
          <button class="btn btn-primary" (click)="connect()">
            Connect to Robot
          </button>
        </div>
        <div *ngIf="!currentRobot.address">
          Unable to connect to robot: robot must connect to Robogen first.
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col">
    <div class="card" *ngIf="!currentRobot.scriptsAreValid">
      <div class="card-block">
        <div class="alert alert-danger" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                One or more of the scripts cannot be downloaded.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="currentRobot.scripts">
      <div class="card-block">
        <clr-tabs>
          <clr-tab>
            <button clrTabLink id="link1">Scripts</button>
            <clr-tab-content *clrIfActive>
              <ul class="list-unstyled">
                <li *ngFor="let script of currentRobot.scripts">
                  <a href="javascript://" (click)="currentScript = script">
                    {{script.name}}
                  </a>
                </li>
              </ul>
            </clr-tab-content>
          </clr-tab>
          <clr-tab>
            <button clrTabLink>Resources</button>
            <clr-tab-content *clrIfActive>
              <ul class="list-unstyled">
                <li *ngFor="let resource of currentRobot.resources">
                  <a href="javascript://" (click)="currentScript = resource">
                    <span *ngIf="resource.parent">{{resource.parent}}:</span>
                    {{resource.name}} [{{resource.type}}]
                  </a>
                </li>
              </ul>
            </clr-tab-content>
          </clr-tab>
        </clr-tabs>
      </div>
      <div class="card-block">
        <a class="btn btn-outline" [href]="scriptsDownloadLocation">
          Download All
        </a>
      </div>
    </div>
  </div>
</div>
<div class="card" *ngIf="currentScript">
  <div class="card-header">
    {{currentScript.name}}
  </div>
  <div class="card-block">
    <app-robot-script [currentScript]="currentScript"></app-robot-script>
  </div>
  <div class="card-block">
    <button class="btn btn-primary" (click)="currentScript = undefined">
      Back to Robot
    </button>
  </div>
</div>
