<div class="clr-row" *ngIf="!simulatorVisible">
  <div class="clr-col" *ngIf="!currentItem">
    <div class="card">
      <div class="card-block">
        <form clrForm>
          <clr-input-container>
            <label>Internal Name</label>
            <input clrInput placeholder="name" name="robotName" [(ngModel)]="currentRobot.name" readonly class="wide-input" />
          </clr-input-container>
          <clr-input-container>
            <label>Type</label>
            <input clrInput placeholder="type" name="robotType" [(ngModel)]="currentRobot.robotType" readonly class="wide-input" />
          </clr-input-container>
          <clr-input-container>
            <label>Patient</label>
            <input clrInput placeholder="Robot has not been assigned" name="patient" [(ngModel)]="information.patient"
              readonly class="wide-input" />
          </clr-input-container>
          <clr-input-container>
            <label>Last Connected</label>
            <input clrInput placeholder="Robot has not connected to Robogen" name="lastAccess" [(ngModel)]="information.lastAccess"
              readonly class="wide-input" />
          </clr-input-container>
          <clr-input-container>
            <label>Checksum</label>
            <input clrInput placeholder="No scripts to download" name="checksum" [(ngModel)]="currentRobot.checksum"
              readonly class="wide-input" />
          </clr-input-container>
        </form>
      </div>
      <div class="card-block">
        <div *ngIf="currentRobot.address">
          <button class="btn btn-primary" (click)="connect()">
            Connect to Robot
          </button>
        </div>
        <div *ngIf="!currentRobot.address">
          Unable to connect to robot: robot must connect to Robogen first.
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col">
    <div class="card" *ngIf="!currentRobot.scriptsAreValid">
      <div class="card-block">
        <div class="alert alert-danger" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                One or more of the scripts cannot be downloaded.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="currentRobot.scripts">
      <div class="card-block">
        <h4>Scripts</h4>
        <clr-tree-node *ngFor="let script of currentRobot.scripts">
          <button class="clr-treenode-link" (click)="changeItem(script)" [class.active]="currentItem == script">
            <clr-icon shape="play" class="is-highlight" *ngIf="script.source=='Configured'"></clr-icon>
            <clr-icon shape="login" class="is-highlight" *ngIf="script.source!='Configured'"></clr-icon>
            {{script.name}}
          </button>
          <ng-template [(clrIfExpanded)]="script.expanded">
            <clr-tree-node *ngFor="let resource of script.resources">
              <button class="clr-treenode-link" (click)="changeItem(resource)" [class.active]="currentItem == resource">
                {{resource.name}} [{{resource.type}}]
              </button>
            </clr-tree-node>
          </ng-template>
        </clr-tree-node>
      </div>
      <div class="card-block">
        <button class="btn btn-success-outline pull-right" *ngIf="currentItem && currentItem.source=='Configured'" (click)="simulatorVisible=true">
          Open in Simulator
        </button>
        <a class="btn btn-outline" [href]="scriptsDownloadLocation">
          Download All
        </a>
      </div>
    </div>
  </div>
  <div class="clr-col" *ngIf="currentItem">
    <div class="card">
      <div class="card-header">
        {{currentItem.name}}
      </div>
      <div class="card-block">
        <app-robot-script [currentScript]="currentItem"></app-robot-script>
      </div>
      <div class="card-block">
        <button class="btn btn-primary" (click)="changeItem()">
          Back
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="simulatorVisible">
  <div class="card">
    <div class="card-header">
      Script Simulator
    </div>
    <div class="card-block">
      <app-robot-simulator [currentRobot]="currentRobot" [startScript]="currentItem" [allScripts]="currentRobot.scripts"></app-robot-simulator>
    </div>
    <div class="card-block">
      <button class="btn btn-primary" (click)="simulatorVisible=false">
        Back
      </button>
    </div>
  </div>
</div>
