<div class="clr-row">
    <div class="clr-col" *ngIf="scripts">
      <clr-tree-node *ngFor="let script of scripts">
        <button class="clr-treenode-link" [class.active]="currentScript == script" (click)="currentScript = script">
          {{script.name}}
        </button>
      </clr-tree-node>
    </div>
    <div class="clr-col">
      <div *ngIf="currentScript">
        <clr-stack-view>
          <clr-stack-header>
            {{currentScript.name}}
          </clr-stack-header>
        </clr-stack-view>
  
        <div>
          <button class="btn btn-primary" (click)="trigger()">Start Script</button>
          <button class="btn btn-outline" (click)="debug()">Debug Script</button>
        </div>
      </div>
    </div>
  </div>
  