<form clrForm>
  <clr-input-container>
    <label>Name</label>
    <input clrInput placeholder="name" name="input" [(ngModel)]="currentResource.name" required />
    <clr-control-error>This field is required!</clr-control-error>
  </clr-input-container>
  <clr-select-container>
    <label>Data Type</label>
    <select clrSelect name="resourceType" [(ngModel)]="currentResource.resourceType">
      <option *ngFor="let resourceType of resourceTypes" value="{{resourceType.id}}">{{resourceType.value}}</option>
    </select>
  </clr-select-container>

  <ace-editor [(text)]="currentContent.resource" [options]="{maxLines: 'Infinity'}" theme="chrome" mode="html" style="min-height: calc(100vh - 500px);margin-bottom: 10px; margin-top: 10px; width:100%;" *ngIf="currentContent">
  </ace-editor>

  <div>
    <button class="btn btn-danger-outline pull-right" (click)="delete()">Delete Resource</button>
    <button class="btn btn-primary" (click)="save()">Save Changes</button>
  </div>
</form>
