<form clrForm>
  <div class="alert alert-warning" role="alert" *ngIf="currentResourceType && !currentResourceType.type">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
        </div>
        <span class="alert-text">
          Resource type cannot be changed: v1 resource.
        </span>
      </div>
    </div>
  </div>
  <clr-input-container>
    <label>Name</label>
    <input clrInput placeholder="name" name="input" [(ngModel)]="currentResource.name" required />
    <clr-control-error>This field is required!</clr-control-error>
  </clr-input-container>
  <clr-select-container *ngIf="currentResourceType && currentResourceType.type">
    <label>Data Type</label>
    <select clrSelect name="resourceType" [(ngModel)]="currentResource.resourceType" (change)="onResourceChanged()">
      <option *ngFor="let resourceType of resourceTypes" value="{{resourceType.id}}">{{resourceType.value}}</option>
    </select>
  </clr-select-container>
  <clr-input-container *ngIf="currentResourceType && !currentResourceType.type">
    <label>Data Type</label>
    <input clrInput placeholder="Data Type" name="dataType" [(ngModel)]="currentResource.resourceTypeName" readonly />
  </clr-input-container>
  <div *ngIf="currentContent">
    <div *ngIf="currentResourceType.type=='text' || !currentResourceType.type">
      <div class="clr-row">
        <div class="clr-col-8">
          <ace-editor [(text)]="currentContent.resource" [options]="{maxLines: 'Infinity'}" theme="chrome" mode="html"
            style="min-height: calc(100vh - 500px);margin-bottom: 10px; margin-top: 10px; width:100%;">
          </ace-editor>
        </div>
        <div class="clr-col-4">
          <clr-tabs>
            <clr-tab>
              <button clrTabLink>Items</button>
              <clr-tab-content *clrIfActive="true">
                <table class="table table-noborder table-compact">
                  <tbody>
                    <tr *ngFor="let item of items">
                      <td class="left">
                        <button class="btn btn-link btn-sm" (click)="insertItem(item.name)" style="text-align: left; text-transform: none; margin: 0; padding: 0;">{{item.name}}</button>
                      </td>
                      <td class="left">{{item.description}}</td>
                    </tr>
                  </tbody>
                </table>
              </clr-tab-content>
            </clr-tab>
          </clr-tabs>
        </div>
      </div>
    </div>
    <div *ngIf="currentResourceType.type=='resource'">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink>Current</button>
          <ng-template [(clrIfActive)]="previewActive">
            <clr-tab-content *clrIfActive>
              <div class="clr-row">
                <div class="clr-col">
                  <clr-input-container>
                    <label>URL</label>
                    <input clrInput placeholder="Resource URL" name="url" [(ngModel)]="currentContent.resource"
                      readonly />
                  </clr-input-container>
                </div>
                <div class="clr-col">
                  <div class="card">
                    <div class="card-header">
                      Preview
                    </div>
                    <div class="card-block">
                      <img src="{{reviewResourceURL}}" style="width:100%;" *ngIf="currentResourceType.value=='Image'">
                      <video style="width:100%;" controls *ngIf="currentResourceType.value=='Video'">
                        <source src="{{reviewResourceURL}}" type="video/mp4">
                      </video>
                      <audio style="width:100%;" controls *ngIf="currentResourceType.value=='Audio'">
                        <source src="{{reviewResourceURL}}">
                      </audio>
                    </div>
                  </div>
                </div>
              </div>
            </clr-tab-content>
          </ng-template>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Select</button>
          <clr-tab-content *clrIfActive>
            <div class="clr-row">
              <div class="clr-col">
                <clr-input-container>
                  <label>Find Resource</label>
                  <input clrInput placeholder="Resource URL" name="url" [(ngModel)]="resourceSearch" (keyup)="searchForResources()" />
                </clr-input-container>
                <div class="clr-form-control">
                  <label class="clr-control-label">Resources</label>
                  <ul class="list">
                    <li *ngFor="let resource of resources" (click)="selectResource(resource)">
                      {{resource.url}}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="clr-col">
                <clr-input-container>
                  <label>Upload Resource</label>
                  <input clrInput placeholder="Resource URL" name="urlName" [(ngModel)]="newResourceUrl" />
                </clr-input-container>
                <div class="clr-form-control">
                  <label class="clr-control-label">File</label>
                  <input placeholder="File to upload" name="uploadFile" type="file" class="clr-input" (change)="storeResource($event)" />
                </div>
                <div>
                  <button class="btn btn-outline pull-right" (click)="uploadResource()">Add Resource</button>
                </div>
              </div>
            </div>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>

  <div>
    <button class="btn btn-danger-outline pull-right" (click)="delete()">Delete Resource</button>
    <button class="btn btn-primary" (click)="save()">Save Changes</button>
  </div>
</form>
